mixin breadcrumbs(thisPage)
    nav(aria-label="breadcrumb")
        ol.breadcrumb
            li.breadcrumb__item
                a(href='#') Главная
            li(aria-current="page").breadcrumb__item= thisPage
