

footer.page-footer
    .container
        .page-footer__top-section
            .page-footer__copy &copy; 1999 - 2018 ООО Тари-Дент
            .page-footer__up-page
                button.up-page-button.js-scroll-top В начало страницы
    .page-footer__main
        .container
            .page-footer__main-container
                .page-footer__info.page-footer-info
                    i.page-footer-info__icon.icon-attention-circled
                    .page-footer-info__content
                        .page-footer-info__descr Обращаем Ваше внимание на то, что данный интернет-сайт носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями ч. 2 ст. 437 Гражданского кодекса Российской Федерации. Для получения подробной информации о стоимости, наименовании и сроках оказания услуг, пожалуйста, обращайтесь по контактным телефонам. Конкретный перечень услуг и порядок их предоставления определяется в договоре оказания услуг, оформляемым между клиникой и пациентом
                        .page-footer-info__title НЕОБХОДИМА КОНСУЛЬТАЦИЯ СПЕЦИАЛИСТА
                .page-footer__soc-box
                    .soc-list
                        a(href='#').soc-list__item
                            i.soc-list__icon.icon-odnoklassniki

                        a(href='#').soc-list__item
                            i.soc-list__icon.icon-vkontakte

                        a(href='#').soc-list__item
                            i.soc-list__icon.icon-facebook
                    a(href='#').st-link Создание сайта


.page__menu.page-menu.js-page-menu
    .page-menu__header
        .page-menu__title Доступная стоматология
        .page-menu__close
            button.btn-close.js-page-menu-close
                .btn-close__cross

    ul.sidebar-menu
        li.sidebar-menu__item.js-dropmenu-item
            .sidebar-menu__link-box
                a(href='#').sidebar-menu__link Терапия
                .sidebar-menu__toggle.js-dropmenu-toggle
            .sidebar-menu__dropdown
                .sidebar-menu__item
                    a(href='#').sidebar-menu__link Терапия услуга 1 Пародонтология
                .sidebar-menu__item
                    a(href='#').sidebar-menu__link Терапия услуга 2Наращивание зубов
                .sidebar-menu__item
                    a(href='#').sidebar-menu__link Терапия услуга3 Отбеливание зубов

        li.sidebar-menu__item.js-dropmenu-item
            .sidebar-menu__link-box
                a(href='#').sidebar-menu__link Терапия
                .sidebar-menu__toggle.js-dropmenu-toggle
            .sidebar-menu__dropdown
                .sidebar-menu__item
                    a(href='#').sidebar-menu__link Терапия услуга 1 Пародонтология
                .sidebar-menu__item
                    a(href='#').sidebar-menu__link Терапия услуга 2Наращивание зубов
                .sidebar-menu__item
                    a(href='#').sidebar-menu__link Терапия услуга3 Отбеливание зубов

        li.sidebar-menu__item.js-dropmenu-item
            .sidebar-menu__link-box
                a(href='#').sidebar-menu__link Терапия
                .sidebar-menu__toggle.js-dropmenu-toggle
            .sidebar-menu__dropdown
                .sidebar-menu__item
                    a(href='#').sidebar-menu__link Терапия услуга 1 Пародонтология
                .sidebar-menu__item
                    a(href='#').sidebar-menu__link Терапия услуга 2Наращивание зубов
                .sidebar-menu__item
                    a(href='#').sidebar-menu__link Терапия услуга3 Отбеливание зубов

        li.sidebar-menu__item.js-dropmenu-item
            .sidebar-menu__link-box
                a(href='#').sidebar-menu__link Терапия
                .sidebar-menu__toggle.js-dropmenu-toggle
            .sidebar-menu__dropdown
                .sidebar-menu__item
                    a(href='#').sidebar-menu__link Терапия услуга 1 Пародонтология
                .sidebar-menu__item
                    a(href='#').sidebar-menu__link Терапия услуга 2Наращивание зубов
                .sidebar-menu__item
                    a(href='#').sidebar-menu__link Терапия услуга3 Отбеливание зубов

        li.sidebar-menu__item.desktop-hidden
            a(href='#').sidebar-menu__link О клинике

        li.sidebar-menu__item.desktop-hidden
            a(href='#').sidebar-menu__link Отзывы

        li.sidebar-menu__item.desktop-hidden
            a(href='#').sidebar-menu__link Цены

        li.sidebar-menu__item.desktop-hidden
            a(href='#').sidebar-menu__link Контакты



.page__overlay.js-popups-overlay.js-close-popups.js-page-menu-close
.page__popups.popups.js-popups
    .popups__popup(data-popup-name='appointment')
        .form-popup
            .form-popup__close
                button.btn-close.js-close-popups
                    .btn-close__cross

            .form-popup__form
                form.st-form
                    .st-form__line
                        .st-title Записаться на прием
                    .st-form__line
                        .notice Оставьте заявку, администратор клиники свяжется с Вами для подтверждения
                    .st-form__line
                        label.field-label.js-field-label
                            input(type="text").input.field-label__field
                            .field-label__title Ваше имя *
                            i.field-label__border
                    .st-form__line
                        label.field-label.js-field-label
                            input(type="tel").input.field-label__field
                            .field-label__title Номер телефона *
                            i.field-label__border
                    .st-form__line
                        label.field-label.js-field-label
                            input(type="text").input.field-label__field
                            .field-label__title E-mail
                            i.field-label__border
                    .st-form__line
                        label.field-label.js-field-label
                            textarea.textarea.field-label__field
                            .field-label__title Ваш вопрос
                            i.field-label__border
                    .st-form__line.st-form__line_consent
                        label.checkbox-label
                            input(type='checkbox').checkbox-label__input
                            span
                                | Я даю согласие на обработку
                                |
                                a(href='#') персональных данных

                    .st-form__line.tac
                        button.st-button.st-button_v2 ЗАПИСАТСЯ НА ПРИЕМ





