

footer.page-footer
    .container
        .page-footer__top-section
            .page-footer__copy &copy; 1999 - 2018 ООО Тари-Дент
            .page-footer__up-page
                button.up-page-button В начало страницы
    .page-footer__main
        .container
            .page-footer__main-container
                .page-footer__info.page-footer-info
                    i.page-footer-info__icon.icon-attention-circled
                    .page-footer-info__content
                        .page-footer-info__descr Обращаем Ваше внимание на то, что данный интернет-сайт носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями ч. 2 ст. 437 Гражданского кодекса Российской Федерации. Для получения подробной информации о стоимости, наименовании и сроках оказания услуг, пожалуйста, обращайтесь по контактным телефонам. Конкретный перечень услуг и порядок их предоставления определяется в договоре оказания услуг, оформляемым между клиникой и пациентом
                        .page-footer-info__title НЕОБХОДИМА КОНСУЛЬТАЦИЯ СПЕЦИАЛИСТА
                .page-footer__dev-link
                    .st-link Создание сайта




.page__menu.page-menu.js-page-menu.st--bg--gradient
    .page-menu__header
        .page-menu__search
            form.search
                input(type='text' placeholder='Поиск по сайту').search__field
                .search__button
                    .icon-search
        .page-menu__close
            button.btn-close.js-page-menu-close

    ul.main-nav
        li.main-nav__item.main-nav-item
            a(href='company.html').main-nav-item__link
                span.main-nav-item__link-text О компании
        li.main-nav__item.main-nav-item
            a(href='#').main-nav-item__link
                span.main-nav-item__link-text Партнерам и оптовикам
        li.main-nav__item.main-nav-item
            a(href='contacts.html').main-nav-item__link
                span.main-nav-item__link-text Контакты
        li.main-nav__item.main-nav-item
            a(href='promo.html').main-nav-item__link
                span.main-nav-item__link-text Промо
        li.main-nav__item.main-nav-item
            a(href='basket.html').main-nav-item__link
                span.main-nav-item__link-text Корзина

        li.main-nav__item.main-nav-item
            a(href='index.html').main-nav-item__link
                span.main-nav-item__link-text Главная
        li.main-nav__item.main-nav-item
            .main-nav-item__link-box
                a(href='#').main-nav-item__link
                    span.main-nav-item__link-text Продукция Черон
                button.main-nav-item__toggle.js-dropmenu-toggle 3
            .main-nav-item__dropmenu
                .main-nav-item__title-box
                    button.main-nav-item__toggle.main-nav-item__toggle_prev.js-dropmenu-toggle
                    a(href='#').main-nav-item__link.tac
                        span.main-nav-item__link-text Продукция Черон
                .main-nav__item
                    a(href='index.html').main-nav-item__link
                        span.main-nav-item__link-text Кондукторы и шаблоны
                .main-nav__item
                    a(href='index.html').main-nav-item__link
                        span.main-nav-item__link-text Для мебельного производства
                .main-nav__item
                    a(href='index.html').main-nav-item__link
                        span.main-nav-item__link-text Оборудование Черон
        li.main-nav__item.main-nav-item
            a(href='#').main-nav-item__link
                span.main-nav-item__link-text Доставка и оплата
        li.main-nav__item.main-nav-item
            a(href='shares.html').main-nav-item__link
                span.main-nav-item__link-text Акции
        li.main-nav__item.main-nav-item
            a(href='reviews.html').main-nav-item__link
                span.main-nav-item__link-text Отзывы о продукции
        li.main-nav__item.main-nav-item
            a(href='videos.html').main-nav-item__link
                span.main-nav-item__link-text Видео инструкции
        li.main-nav__item.main-nav-item
            a(href='shops.html').main-nav-item__link
                span.main-nav-item__link-text Адреса магазинов




.page__overlay.js-popups-overlay.js-close-popups.js-page-menu-close
.page__popups.popups.js-popups
    .popups__popup(data-popup-name='appointment')
        .form-popup
            .form-popup__close
                button.btn-close.js-close-popups
            .form-popup__form
                form.st-form
                    .st-form__line
                        .st-title.tac Оставьте заявку
                    .st-form__line
                        input(type="text" placeholder='Ваше имя').input
                    .st-form__line
                        input(type="text" placeholder='Номер телефона').input
                    .st-form__line
                        .st-form__info
                            | Нажимая кнопку, вы принимаете условия
                            |
                            a(href='#').st-link «Пользовательского соглашения»
                            |
                            | и даете
                            |
                            a(href='#').st-link «Согласие на обработку персональных данных»
                    .st-form__line.tac
                        button.st-button ЗАЯВКА





