


header.page-header
    .page-header__impaired-section
        .page-header__impaired-container.container
            .impaired-options-grid
                .impaired-options-grid__item
                    .impaired-options-item
                        .impaired-options-item__name Размер шрифта:
                        .impaired-options-item__content
                            .page-fonts
                                .page-fonts__item.page-fonts__item_small.active a
                                .page-fonts__item a
                                .page-fonts__item.page-fonts__item_large a

                .impaired-options-grid__item
                    .impaired-options-item
                        .impaired-options-item__name Цветовая схема:
                        .impaired-options-item__content
                            .color-scheme
                                .color-scheme__item.color-scheme__item_white a
                                .color-scheme__item.color-scheme__item_dark a
                                .color-scheme__item.color-scheme__item_blue a

                .impaired-options-grid__item
                    .impaired-options-item.js-impaired-toggle
                        i.impaired-options-item__icon.icon-glasses
                        .impaired-options-item__content Обычная версия сайта

    .page-header__top-section
        .page-header__top-container.container
            .page-header__top-item
                .infographic-box
                    .infographic-box__circle
                        i.infographic-box__icon.icon-location
                    .infographic-box__content Воронеж, ул. Володарского, 40

            .page-header__top-item
                .infographic-box
                    .infographic-box__circle
                        i.infographic-box__icon.icon-clock
                    .infographic-box__content
                        p Пн - Пт: 9:00 - 20:00
                        p Сб: 10:00 - 18:00

            .page-header__top-item.page-header__top-item_impaired
                .infographic-box.js-impaired-toggle
                    .infographic-box__circle
                        i.infographic-box__icon.icon-glasses
                    .infographic-box__content Версия для слабовидящих

            .page-header__top-item
                .infographic-box.infographic-box_phone
                    .infographic-box__circle
                        i.infographic-box__icon.icon-phone
                    .infographic-box__content +7 (473) 205-92-48

    .page-header__main.site-bg-style
        .container
            .header-main-box
                .header-main-box__hamburger
                    .hamburger
                        .hamburger__line
                        .hamburger__line
                        .hamburger__line
                .header-main-box__logo
                    a(href='index.html').logo
                        img(src='./images//logo.svg' alt='Тари-Дент').logo__img

                nav.header-main-box__nav
                    ul.main-nav
                        li.main-nav__item.main-nav-item
                            a(href='index.html').main-nav-item__link
                                .main-nav-item__link-icon
                                    .hamburger
                                        .hamburger__line
                                        .hamburger__line
                                        .hamburger__line
                                span.main-nav-item__link-text НАШИ УСЛУГИ
                        li.main-nav__item.main-nav-item
                            a(href='#').main-nav-item__link
                                span.main-nav-item__link-text О КЛИНИКЕ
                        li.main-nav__item.main-nav-item
                            a(href='delivery.html').main-nav-item__link
                                span.main-nav-item__link-text ОТЗЫВЫ
                        li.main-nav__item.main-nav-item
                            a(href='shares.html').main-nav-item__link
                                span.main-nav-item__link-text ЦЕНЫ
                        li.main-nav__item.main-nav-item
                            a(href='reviews.html').main-nav-item__link
                                span.main-nav-item__link-text КОНТАКТЫ

                .header-main-box__button
                    button(data-target-popup='appointment').st-button.js-open-popup Записаться на прием




    .page-header__mobile-section
        .page-header__hamburger
            button.hamburger.js-page-menu-open
                i.hamburger__line.hamburger__line_top
                i.hamburger__line
                i.hamburger__line.hamburger__line_bottom

        .page-header__mobile-title интернет-магазин
        .page-header__mobile-basket
            a(href='#').basket-circle
               i.basket-circle__icon.icon-basket




